name: lint / release-please

on:
  pull_request:
    paths:
      - .github/workflows/lint--release-please.yaml
      - 'crates/**'
      - '.release-please-manifet.json'
      - 'release-please-config.json'

jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      changed-crates-json: ${{ steps.glob-changed-files.outputs.paths-json }}
    steps:
      - id: glob-changed-files
        uses: int128/glob-changed-files-action@4e1b919bfdaadd0f64fd8e7e419b92d1634dcf9b # v2
        with:
          paths: |
            crates/:crate/**
          transform: |
            crates/:crate
  check:
    runs-on: ubuntu-latest
    needs: matrix
    if: needs.matrix.outputs.changed-crates-json != '[]'
    strategy:
      matrix:
        package: ${{ fromJson(needs.matrix.outputs.changed-crates-json) }}
    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        env:
          PACKAGE: ${{ matrix.package }}
        with:
          script: |
            const getContent = async function (path) {
              return await github.rest.repos.getContent({
                owner: context.repo.owner,
                repo: context.repo.repo,
                path,
                ref: context.ref,
                mediaType: {
                  format: "raw"
                }
              });
            };
            const pkg = process.env.PACKAGE;
            const manifest = JSON.parse((await getContent(".release-please-manifest.json")).data);
            const config = JSON.parse((await getContent("release-please-config.json")).data);
            if (!Object.keys(manifest).some(k => k === pkg)) {
              core.setFailed(`expected to .release-please-manifest.json has "${pkg}"`);
            }
            if (!Object.keys(config.packages || {}).some(k => k === pkg)) {
              core.setFailed(`expected to release-please-config.json has "${pkg}"`);
            }
            return true;
