name: lint / rust

on:
  pull_request:
    paths:
      - 'crates/**/*.rs'
      - '**/Cargo.lock'
      - '**/Cargo.toml'

jobs:
  lockfile-matrix:
    runs-on: ubuntu-latest
    outputs:
      changed-crates: ${{ steps.glob-changed-files.outputs.paths }}
    steps:
      - id: glob-changed-files
        uses: int128/glob-changed-files-action@1a4f75e3ee971fc3840bda9d2cbd260dc87b6998 # v2
        with:
          paths: |
            crates/:crate/Cargo.toml
          transform: |
            :crate

  lint-matrix:
    runs-on: ubuntu-latest
    outputs:
      changed-crates-json: ${{ steps.glob-changed-files.outputs.paths-json }}
    steps:
      - id: glob-changed-files
        uses: int128/glob-changed-files-action@1a4f75e3ee971fc3840bda9d2cbd260dc87b6998 # v2
        with:
          paths: |
            crates/:crate/**
          transform: |
            :crate

  lockfile:
    runs-on: ubuntu-latest
    needs: lockfile-matrix
    if: ${{ needs.lockfile-matrix.outputs.changed-crates != '' }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
      - id: generate-token
        uses: oakcask/gh-token-gen@8265635a8608c36d4e5de582b02d76c0b9fa790a # v4.0.1
        with:
          app-id: ${{ secrets.TOKEN_GEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_GEN_PRIVATE_KEY }}
      - run: cargo check
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2
        with:
          commit-message: "chore: update lockfile"
          token: ${{ steps.generate-token.outputs.token }}

  lint:
    runs-on: ubuntu-latest
    needs:
      - lockfile
      - lint-matrix
    if: ${{ needs.lint-matrix.outputs.changed-crates-json != '' }}
    strategy:
      matrix:
        crate: ${{ fromJson(needs.lint-matrix.outputs.changed-crates-json) }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
      - id: generate-token
        uses: oakcask/gh-token-gen@8265635a8608c36d4e5de582b02d76c0b9fa790a # v4.0.1
        with:
          app-id: ${{ secrets.TOKEN_GEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_GEN_PRIVATE_KEY }}
      - run: cargo --locked fmt -p ${{ matrix.crate }}
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2
        with:
          commit-message: "style: `cargo --locked fmt -p ${{ matrix.crate }}`"
          token: ${{ steps.generate-token.outputs.token }}
      - run: cargo --locked clippy -p ${{ matrix.crate }} --fix
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2
        with:
          commit-message: "fix: `cargo --locked clippy -p ${{ matrix.crate }} --fix`"
          token: ${{ steps.generate-token.outputs.token }}
