name: lint / deps

on:
  pull_request:
    paths:
      - .github/workflows/lint--deps.yaml
      - 'crates/**/*.rs'
      - '**/Cargo.lock'
      - '**/Cargo.toml'

jobs:
  machete:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
      - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3
        with:
          crate: cargo-machete
          # renovate: datasource=crate depName=cargo-machete
          version: "0.9.1"
      - run: cargo machete --with-metadata --fix
        continue-on-error: true
      - id: generate-token
        uses: oakcask/gh-token-gen@d65c585678cb39f009f96046d788617e1d0b0745 # v4.0.2
        with:
          app-id: ${{ secrets.TOKEN_GEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_GEN_PRIVATE_KEY }}
      - uses: int128/update-generated-files-action@3d23e5bef5a471517ce6a7d07c32e7cff7903e0d # v2
        with:
          commit-message: "chore: cleanup lockfiles"
          token: ${{ steps.generate-token.outputs.token }}
