name: lint / rust

on:
  pull_request:
    paths:
      - 'crates/**/*.rs'

jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      changed-crates-json: ${{ steps.glob-changed-files.outputs.paths-json }}
    steps:
      - id: glob-changed-files
        uses: int128/glob-changed-files-action@736450ea59431aaf6b913b480f8ae32d3cc7c855 # v2
        with:
          paths: |
            crates/:crate/**
          transform: |
            :crate

  lint:
    runs-on: ubuntu-latest
    needs:
      - matrix
    if: needs.matrix.outputs.changed-crates-json != '[]'
    strategy:
      matrix:
        crate: ${{ fromJson(needs.matrix.outputs.changed-crates-json) }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
      - id: generate-token
        uses: oakcask/gh-token-gen@d65c585678cb39f009f96046d788617e1d0b0745 # v4.0.2
        with:
          app-id: ${{ secrets.TOKEN_GEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_GEN_PRIVATE_KEY }}
      - run: cargo --locked fmt -p ${{ matrix.crate }}
      - uses: int128/update-generated-files-action@21a93b7745379d3affb27cb6beb5f68d6cb8fd0d # v2
        with:
          commit-message: "style: `cargo --locked fmt -p ${{ matrix.crate }}`"
          token: ${{ steps.generate-token.outputs.token }}
      - run: cargo --locked clippy -p ${{ matrix.crate }} --fix
      - uses: int128/update-generated-files-action@21a93b7745379d3affb27cb6beb5f68d6cb8fd0d # v2
        with:
          commit-message: "fix: `cargo --locked clippy -p ${{ matrix.crate }} --fix`"
          token: ${{ steps.generate-token.outputs.token }}
