name: release-please
on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      crates: ${{ steps.crates.outputs.result }}
    steps:
      - uses: actions/checkout@v6
      - id: crates
        uses: actions/github-script@v8
        env:
          DIRNAME: "crates"
        with:
          script: |
            const fs = require('node:fs/promises');
            const path = require('node:path');
            return (await fs.readdir(process.env.DIRNAME)).map(o => path.join(process.env.DIRNAME, o))

  release-please:
    runs-on: ubuntu-latest
    needs: matrix
    strategy:
      matrix:
        path: ${{ fromJson(needs.matrix.outputs.crates) }}
    concurrency:
      group: release-please-${{ matrix.path }}
      cancel-in-progress: false
    steps:
      - id: gh-token-gen
        uses: oakcask/gh-token-gen@8265635a8608c36d4e5de582b02d76c0b9fa790a # v4.0.1
        with:
          app-id: ${{ secrets.TOKEN_GEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_GEN_PRIVATE_KEY }}
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        with:
          token: ${{ steps.gh-token-gen.outputs.token }}
          path: ${{ matrix.path }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
