name: wasm-pack-test

on:
  workflow_call:
    inputs: 
      path:
        required: true
        type: string

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: baptiste0928/cargo-install@v3
        with:
          crate: wasm-pack
          # renovate: datasource=crate depName=wasm-pack
          version: "0.13.1"
      - run: wasm-pack test --node ${{inputs.path}} --locked
